####################################################################################################################################################################################################
#############################################################           i3 June 11, 2022 10:30am           #####################################################################################
####################################################################################################################################################################################################

exec_always --no-startup-id xrandr --output $PrimaryDisplay --mode $PrimaryDisplayResolution --rate $PrimaryDisplayRate

set $PrimaryDiplay eDP-1-1
set $PrimaryDisplayResolution 1920x1080
set $PrimaryDisplayRate 144

fontpango: hack 9
#Droid Sans Regular 9

set $mod Mod4

#This is setup for azerty
set $up l
set $down k
set $left j
set $right m

workspace 1 output $firstMonitor
workspace 2 output $firstMonitor
workspace 3 output $firstMonitor
workspace 4 output $firstMonitor
workspace 5 output $firstMonitor
workspace 6 output $firstMonitor
workspace 7 output $firstMonitor
workspace 8 output $firstMonitor
workspace 9 output $firstMonitor
workspace 10 output $firstMonitor

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1; workspace 1
bindsym $mod+Shift+2 move container to workspace 2; workspace 2
bindsym $mod+Shift+3 move container to workspace 3; workspace 3
bindsym $mod+Shift+4 move container to workspace 4; workspace 4
bindsym $mod+Shift+5 move container to workspace 5; workspace 5
bindsym $mod+Shift+6 move container to workspace 6; workspace 6
bindsym $mod+Shift+7 move container to workspace 7; workspace 7
bindsym $mod+Shift+8 move container to workspace 8; workspace 8
bindsym $mod+Shift+9 move container to workspace 9; workspace 9
bindsym $mod+Shift+0 move container to workspace 10; workspace 10

####################################################################################################################################################################################################
#### insert i3block Bar here  ####

####################################################################################################################################################################################################  

# class                 border  backgr. text    indicator child_border
client.focused          #4c7899 #285577 #ffffff #2e9ef4   #285577
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

####################################################################################################################################################################################################

exec_always --no-startup-id picom --config ~/.config/i3/picom.conf

exec_always --no-startup-id ~/.config/polybar/launch.sh

exec_always --no-startup-id nitrogen --restore &

# feh sets wallpaper
#exec --no-startup-id feh --bg-fill /usr/share/backgrounds/arcolinux/arco-wallpaper.jpg &

# Autotiling
exec_always --no-startup-id autotiling

# workspace_auto_back_and_forth yes|no
# focus_wrapping yes|no|force|workspace
# Legacy syntax, equivalent to "focus_wrapping force"
# force_focus_wrapping yes
exec_always --no-startup-id workspace_auto_back_and_forth yes
 
##################################################################### picom of i3wm  ###################################################################################################################

bindsym control+mod1+o exec --no-startup-id ~/.config/i3/scripts/picom-toggle.sh

# gmrun
bindsym mod1+F2 exec --no-startup-id gmrun

# start xfce-appfinder
bindsym mod1+F3 exec --no-startup-id xfce4-appfinder

# start rofi full
bindsym $mod+F11 exec --no-startup-id rofi -show run -fullscreen -font "Santana Light 9"

# start rofi small
bindsym $mod+F12 exec --no-startup-id rofi -show run -font "Santana Light 9"

########################################################################### Authentication dialog   ###############################################################################################

exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

exec --no-startup-id /usr/lib/xfce4/notifyd/xfce4-notifyd &

# exec --no-startup-id nm-applet

exec --no-startup-id xfce4-power-manager

# exec --no-startup-id pamac-tray

# exec --no-startup-id blueberry-tray

exec_always --no-startup-id numlock on

# exec --no-startup-id insync start

exec --no-startup-id variety

# exec --no-startup-id volumeicon

exec --no-startup-id xfsettingsd &

# exec --no-startup-id kdeconnect-indicator &

# exec --no-startup-id conky -c ~/.conkyrc

########################################################################### exit i3 (logs you out of your X session)  ##############################################################################

bindsym $mod+Sift+e exec --no-startup-id "i3-nagbar -t warning -m 'You pressed tkjhe exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

#xkill
#bindsym --release $mod+Escape exec xkill

#blurlock
bindsym control+l exec --no-startup-id blurlock

#arcolinux-logout
bindsym $mod+X exec --no-startup-id archlinux-logout

####################################################################################################################################################################################################

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# reload the configuration file
bindsym $mod+Shift+c reload

# kill focused window
bindsym $mod+Shift+q kill

####################################################################################################################################################################################################

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

################# moving around workspaces         

# next/previous workspace

bindsym Mod1+Tab workspace next
bindsym Mod1+Shift+Tab workspace prev
bindsym $mod+Tab workspace back_and_forth

# navigate workspaces next / previous
bindsym Mod1+Ctrl+Right workspace next
bindsym Mod1+Ctrl+Left workspace prev

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

################# Tiling parameters                

# orientation for new workspaces
default_orientation horizontal

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
# Super + F in arcolinux is execute thunar
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
# qwerty/azerty issue for letter z
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

####################################################################################################################################################################################################

# focus the child container
bindsym $mod+d focus child
bindsym $mod+r mode "resize"

################# resize  

# Resizing by 1
bindsym $mod+Mod1+Ctrl+Left resize shrink width 15 px or 15 ppt
bindsym $mod+Mod1+Ctrl+Down resize grow height 15 px or 15 ppt
bindsym $mod+Mod1+Ctrl+up resize shrink height 15 px or 15 ppt
bindsym $mod+Mod1+Ctrl+Right resize grow width 15 px or 15 ppt

# old resize keybindings
# resize window (you can also use the mouse for that)

# bindsym $mod+r mode "resize"

# mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
 #      bindsym $left       resize shrink width 10 px or 10 ppt
 #      bindsym $down       resize grow height 10 px or 10 ppt
 #      bindsym $up         resize shrink height 10 px or 10 ppt
 #      bindsym $right      resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
 #      bindsym Left        resize shrink width 10 px or 10 ppt
 #      bindsym Down        resize grow height 10 px or 10 ppt
 #      bindsym Up          resize shrink height 10 px or 10 ppt
 #      bindsym Right       resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
 #      bindsym Return mode "default"
 #      bindsym Escape mode "default"
# }

#########################################################################

#workspace 1 related
bindsym $mod+F1 exec --no-startup-id brave;focus

#workspace 2 related
bindsym $mod+F2 exec --no-startup-id thunar;focus

#workspace 3 related
bindsym $mod+F3 exec --no-startup-id gimp;focus

#workspace 4 related
bindsym $mod+F4 exec --no-startup-id inkscape;focus

#workspace 5 related
bindsym $mod+F5 exec --no-startup-id krita;focus

#workspace 6 related
bindsym $mod+F6 exec --no-startup-id kodi;focus

#workspace 7 related
bindsym $mod+F7 exec --no-startup-id blender;focus

#workspace 8 related
bindsym $mod+F8 exec --no-startup-id geany;focus

#workspace 9 related
bindsym $mod+F9 exec --no-startup-id thunderbird;focus

#workspace 10 related
bindsym $mod+F10 exec --no-startup-id spotify;focus

####  workspace   ################################################################################################################################################################################################

# Workspace 1 browser related
assign [class="Brave|google-chrome-stable"] → 1  

# Workspace 2 file managers
assign [class="Meld|Thunar"] → 2
assign [class="Subl|Geany"] → 2
assign [class="Alacritty|Urxvt|Xfce4-terminal"] → 2

# Workspace 3 Gimp
assign [class="Nitrogen|Gimp"] → 3

# Workspace 4 Inkscape
assign [class="Ristretto|Inkscape"] → 4
assign [class="VirtualBox"] → 4

# Workspace 5 Images and meld
assign [class="Kdenlive"] → 5
assign [class="Boxes"] → 5
assign [class="Darktable"] → 5
assign [class="krita"] → 5

# Workspace 6 all video player related
assign [class="Mvp|Vlc"] → 6
assign [class="Kodi"] → 6

# Workspace 7 video editing related
assign [class="Blender|Natron"] → 7
assign [class="Transmission"] → 7
assign [class="VirtualBox"] → 7

# Workspace 8 text editor related
assign [class="Ardour6|Visual Studio Code"] → 8

# Workspace 9 email clients
assign [class="Thunderbird|libreoffice"] → 9

# Workspace 10 music related
assign [class="SimpleScreenRecorder|Audacious"] → 10
assign [class="Spotify|OBS Studio"] → 10

#### Keys - Extra  #############################################################################################################################################################################################

#start dmenu
bindsym mod1+F1 exec --no-startup-id dmenu_run -i -nb '#191919' -nf '#868686' -sb '#F6CB42' -sf '#191919' -fn 'Santana Light:pixelsize=16'

#ArcoLinux Tweak Tool
bindsym control+mod1+t exec --no-startup-id archlinux-tweak-tool

#ArcoLinux Welcome App
bindsym control+mod1+w exec --no-startup-id archlinux-welcome-app

#System monitor
bindsym control+Shift+Escape exec --no-startup-id xfce4-taskmanager;focus

#Xfce4-terminal
bindsym control+mod1+Enter --no-startup-id Xfce4-terminal;focus

#nitrogen
bindsym control+mod1+n exec --no-startup-id nitrogen;focus

#mousepad
bindsym mod1+m exec --no-startup-id mousepad;focus

#alacritty
bindsym control+mod1+a exec --no-startup-id Alacritty;focus

####################################################################################################

# dmenu_run -i -nb '#191919' -nf '#fea63c' -sb '#fea63c' -sf '#191919' -fn 'NotoMonoRegular:bold:pixelsize=14'
# dmenu_run -i -nb '#191919' -nf '#fea63c' -sb '#fea63c' -sf '#191919' -fn 'NotoMonoRegular:bold:pixelsize=14'

####################################################################################################

#darktable
bindsym control+mod1+d exec --no-startup-id darktable;focus

#blender
bindsym control+mod1+b exec --no-startup-id blender;focus

#catfish
bindsym control+mod1+c exec --no-startup-id catfish;focus

#chrome
bindsym control+mod1+g exec --no-startup-id google-chrome-stable;focus

#kdenlive
bindsym control+mod1+k exec --no-startup-id kdenlive;focus

#krita
bindsym control+mod+k exec --no-startup-id krita;focus

#setting-manager
bindsym control+mod1+m exec --no-startup-id xfce4-settings-manager;focus

#rofi theme selector
bindsym control+mod1+r exec --no-startup-id rofi-theme-selector

#pavucontrol
bindsym control+mod1+u exec --no-startup-id pavucontrol

#start xfce-appfinder
#bindsym control+mod1+a exec --no-startup-id xfce4-appfinder;focus

#pamac-manager
bindsym control+mod1+p exec --no-startup-id pamac-manager;focus

#VirtualBox %U
bindsym control+mod1+v exec --no-startup-id VirtualBox;focus

#Juk
bindsym mod1+p exec --no-startup-id radiotray;focus

#####  ScreenShots  ##############################################################################################################################################################################################
 
bindsym Print exec --no-startup-id scrot 'ArcoLinux-%Y-%m-%d-%s_screenshot_$wx$h.jpg' -e 'mv $f $$(xdg-user-dir PICTURES)'
bindsym Control+Print exec --no-startup-id xfce4-screenshooter
bindsym Control+Shift+Print exec --no-startup-id gnome-screenshot -i
#bindsym shift+Print exec --no-startup-id shutter

##### floating  #################################################################################################################################################################################################

#floating enabled from some programs - find with xprop  

for_window [class="Transmission"] floating enable
for_window [class="Thunderbird"] floating disable
#for_window [class="Thunar"] floating enable
for_window [class="Blueberry.py"] floating enable
for_window [class="Boxes"] floating enable
for_window [class="Nitrogen"] floating enable
for_window [class="Galculator"] floating enable
for_window [class="Gnome-disks"] floating enable
for_window [class="^Gnome-font-viewer$"] floating enable
for_window [class="^Gpick$"] floating enable
for_window [class="Conkyzen.desktop"] floating enable
for_window [class="VirtualBox"] floating enable
for_window [class="Font-manager"] floating enable
for_window [class="Nitrogen"] floating disable
for_window [class="Pavucontrol"] floating disable
for_window [class="Peek"] floating enable
for_window [class="^Calendar"] floating enable
for_window [class="^Mousepad"] floating enable
for_window [class="^Spotify"] floating enable
for_window [class="blender"] floating enable
for_window [class="Usb-creator-gtk"] floating enable
for_window [class="^Vlc$"] floating enable
for_window [class="Mpv"] floating enable
for_window [class="Pamac-Manager"] floating enable
for_window [class="Xfce4-appfinder"] floating enable
for_window [class="Xfce4-settings-manager"] floating enable
for_window [class="Xfce4-taskmanager"] floating enable
for_window [class="MediaPlayer2"] floating enable
for_window [class="kweather"] floating enable
for_window [class="karlender"] floating enable


for_window [instance="gimp"] floating enable
for_window [instance="script-fu"] border normal
for_window [instance='lock'] floating enable; focus floating

for_window [title="Copying"] floating enable
for_window [title="Deleting"] floating enable
for_window [title="Moving"] floating enable

for_window [window_role="^gimp-toolbox-color-dialog$"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="^Preferences$"] floating enable
for_window [window_role="setup"] floating enable

##### focus   #################################################################################################################################################################################################

for_window [class="Thunar"] focus
for_window [class="xfce4-terminal"] focus
for_window [class="Blender"] focus
for_window [class="google-chrome-stable"]focus
for_window [class="Brave"] focus
for_window [class="Darktable"] focus
for_window [class="Boxes"] focus
for_window [class="Kodi"] focus
for_window [class="Krita"] focus
for_window [class="Natron"] focus
for_window [class="Gimp"] focus
for_window [class="Inkscape"] focus
for_window [class="Geany"] focus
for_window [class="Audacious"] focus
for_window [class="libreoffice"] focus
for_window [class="Neovim"] focus
for_window [class="Nitrogen"] focus
for_window [class="Kdenlive"] focus
for_window [class="Mpv"] focus
for_window [class="Obs"] focus
for_window [class="Spotify"] focus
for_window [class="Subl"] focus
for_window [class="xfce4-terminal"] focus
for_window [class="Ristretto"] focus
for_window [class="VirtualBox"] focus
for_window [class="Transmission"] focus

####  audio volume   ###########################################################################################################################################################################################

bindsym XF86AudioRaiseVolume exec --no-startup-id "amixer -D pulse sset Master '5%+'"
bindsym XF86AudioLowerVolume exec --no-startup-id "amixer -D pulse sset Master '5%-'"
bindsym XF86AudioMute exec --no-startup-id "amixer -D pulse set Master toggle"
#https://github.com/acrisci/playerctl/
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous
bindsym XF86AudioStop exec --no-startup-id playerctl stop
#bindsym XF86AudioPlay exec --no-startup-id "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause"
#bindsym XF86AudioNext exec --no-startup-id "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next"
#bindsym XF86AudioPrev exec --no-startup-id "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous"
#bindsym XF86AudioStop exec --no-startup-id "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Stop"

#####  screen brightness   ######################################################################################################################################################################################

bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 20 # increase screen brightness
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 20 # decrease screen brightness

################# bar toggle                       

# bar toggle, hide or show
bindsym $mod+b bar mode toggle

################# border control                   

# Border control
hide_edge_borders both
bindsym $mod+shift+b exec --no-startup-id i3-msg border toggle

# changing border style
# super+t in arcolinux is starting terminal
bindsym $mod+t border normal
bindsym $mod+y border pixel 1
bindsym $mod+u border none

# new_window pixel 1
new_window normal
# new_window none

# new_float pixel 1
new_float normal
# new_float none

################# Popups  control                  

# Popups during fullscreen mode
popup_during_fullscreen smart

################# i3 gaps next                     

# Settings for I3 next gap git
# https://github.com/Airblader/i3/tree/gaps-next
# delete or uncomment the following lines if you do not have it or do not
# want it

for_window [class="^.*"] border pixel 0
gaps inner 2
gaps outer 2
# smart_gaps on
# smart_borders on

################# i3 gaps change                   

set $mode_gaps Gaps: (o) outer, (i) inner
set $mode_gaps_outer Outer Gaps: +|-|0 (local), Shift + +|-|0 (global)
set $mode_gaps_inner Inner Gaps: +|-|0 (local), Shift + +|-|0 (global)
bindsym $mod+Shift+g mode "$mode_gaps"

mode "$mode_gaps" {
        bindsym o      mode "$mode_gaps_outer"
        bindsym i      mode "$mode_gaps_inner"
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

mode "$mode_gaps_inner" {
        bindsym plus  gaps inner current plus 5
        bindsym minus gaps inner current minus 5
        bindsym 0     gaps inner current set 0

        bindsym Shift+plus  gaps inner all plus 5
        bindsym Shift+minus gaps inner all minus 5
        bindsym Shift+0     gaps inner all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}
mode "$mode_gaps_outer" {
        bindsym plus  gaps outer current plus 5
        bindsym minus gaps outer current minus 5
        bindsym 0     gaps outer current set 0

        bindsym Shift+plus  gaps outer all plus 5
        bindsym Shift+minus gaps outer all minus 5
        bindsym Shift+0     gaps outer all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}

################# Scratchpad

# NOT USED

# move the currently focused window to the scratchpad
# bindsym Mod1+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
# bindsym Mod1+minus scratchpad show

################# mouse settings in i3             

# NOT USED

# mouse settings
# The middle button over a titlebar kills the window
# bindsym --release button2 kill

# The middle button and a modifer over any part of the window kills the window
# bindsym --whole-window $mod+button2 kill

# The right button toggles floating
# bindsym button3 floating toggle
# bindsym $mod+button3 floating toggle

# The side buttons move the window around
# bindsym button9 move left
# bindsym button8 move right

################# keyboard control                 

# NOT USED

# Settings of arcolinux will be applied
# exec --no-startup-id setxkbmap be
# exec --no-startup-id setxkbmap us

################# unclutter                        

# NOT USED

# get the mouse out of the way with unclutter
# exec --no-startup-id unclutter
